
.cards{
    margin: 1em 0;
	display: flex;
	width: 100%;
	flex-direction: column;
	align-items: center;
}

.cards-container{
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	min-width: 700px;
}

.cities {
	display: flex;
}

.landmarks {
	display: flex;

}

.citizens {
	display: flex;

}

.card-style{
    padding: 0 10px;
    width: 200px;
    border-radius: 20px
}


.card-image {
    width: 100%;
	height: 150px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.sectionTitles h2{
	font-size: 30px;
	text-align: center;
}

main ul {
    overflow-wrap: break-word;
}

main ul li {
	font-size: 20px;
}

ul {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	list-style-type: none;
	

}

a {
	text-decoration: none;
	border:  #0084F8 3px solid;
	border-radius: 7px;
	
}

a:link {
	color: #ffff;
	background-color: #0084F8;
}

a:visited {
	color:#ffff;
}

a:active {
	color:#ffff;
}

