body{
	margin: 0;
	font-family: "Raleway", sans-serif;
}

.main-container{
	display: flex;
}

header img {
	width: 125px;
	height: 125px;
}

.cards{
    margin: 1em 0;
	display: flex;
	width: 100%;
}

.cards-container{
	width: 100%;
}

h1 {
	font-size: 50px;
	text-align: center;
}

h3 {
	padding-left: 40px;
}

.cities {
	display: flex;
	justify-content: space-evenly;
}

.landmarks {
	display: flex;
	justify-content: space-evenly;

}

.citizens {
	display: flex;
	justify-content: space-evenly;

}

.card-style{
	width: 500px;
	border-radius: 20px;
	box-shadow: 5px 10px #888888
}

.card-style:hover{
	position: relative; 
    top: -5px;
}

.card-image {
    width: 100%;
	height: 225px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}

.sectionTitles h2{
	font-size: 30px;
	text-align: center;
	width: 100%;
}

main ul {
    overflow-wrap: break-word;
}


main ul li {
	display: flex;
	align-content: space-around;
	font-size: 20px;
	padding-bottom: 13px;
	list-style: none;
} 

.navbar {
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

nav {
	width: 1200px;
	justify-content: space-evenly;

}

nav ul {
    display: flex;
    flex-direction: row;
    padding-left: 200px;
    padding-right: 200px;
    justify-content: space-around;
    list-style-type: none;
	
} 

nav a {
	color: black;
	font-size: 20px;
	text-decoration: none;
}

.button {
	display: inline-block;
	padding: 0.5em 2.0em;
	margin: 0 0.3em 0.3em 0;
	border-radius: 2em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	background-color:#c9d6df;
	text-align: center;
	transition: all 0.2s;
}

.button:hover {
	background-color: #58c2f1;
}

@media all and (max-width:30em){
	.button{
		display: block;
		margin:0.2em auto;
	}
}

.pic-container {
	width: 100%;
	display: flex;
	justify-content: center;
}

.pic-container img{
	width: 900px;
	height: 500px;
	border-radius: 8px;
	box-shadow: 0px 10px  5px rgba(0,0,0,0.6);
}

html{
	background-image: linear-gradient(45deg, white, antiquewhite, #FF8576);
}

